body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96vh;
    background-color: antiquewhite;
}

.box {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(135deg,orange ,crimson);
    border-radius: 10px;
    box-shadow: 9px 13px 5px rgba(0, 0, 0, 0.4);
}

.box:hover {
    /*
    transform: scale(.9);
    transform: skew(13deg);
    transform: rotate(50deg);
    */
    transform: rotate(4deg) translate(25px , -25px);
}